<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myUserLabel">
            Buy or Sell Stock</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <select class="form-control" [compareWith]="byStockCode" [(ngModel)]="selectedStock" name="feasibleStocks">
                <option *ngFor="let stock of feasibleStock" [ngValue]="stock">{{stock.code}}-{{stock.name}}
                </option>
            </select>
        </div>


       <div class="form-control">
        <label class="form-control-label">Stock Count</label>
        <input type="number" class="form-control" name="stockCount" #stockCountInput="ngModel"
               [(ngModel)]="stockCommand.count">

        <div *ngIf="stockCountInput.dirty && stockCountInput.invalid">
            <small class="form-text text-danger"
                   *ngIf="stockCountInput.errors.required">
                This field is required.
            </small>
        </div>
       </div>
     </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span
        >Cancel</span>
        </button>
        <button type="submit" [hidden]="isBuyButtonHidden" [disabled]="editForm.form.invalid" class="btn btn-success">
            <span class="fa fa-floppy-o"></span>&nbsp;<span>Buy</span>
        </button>
        <button type="submit" [hidden]="isSellButtonHidden" [disabled]="editForm.form.invalid" class="btn btn-danger">
            <span class="fa fa-floppy-o"></span>&nbsp;<span>Sell</span>
        </button>
    </div>
</form>
